body{
  background-image: url("../img/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: #337DFF    ;
  font-family: sans-serif;
  font-size: 85px;
  text-align: center;
}
h5{
  font-size: 20px;
  color: #FF7D33  ;
  padding-left: 26px;
}
ul{
  color: #337DFF ; 
}
